@import 'base';
.container {
  max-width: 130rem;
  margin: 0 auto;
  // overflow-x: hidden;
  @media only screen and (max-width: $bp-largest){
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.078);
  }
  @import 'hero';
  @import 'grid';
  @import 'testimonials';
  @import 'gallery';
  @import 'footer';
}




